.title {
  text-transform: uppercase;
  color: darkgrey;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 300px;

  background-color: white;
}

.statList {
  display: flex;
  width: 100%;
}

.statList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 0;

  color: white;
}

.label {
  font-size: 12px;
}
